/* Hero Banner - Imagen a ancho completo */
.cabecera-banner {
    width: 100%;
    height: 650px;
    background-image: url('../resources/fondo4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.cabecera-contenido {
    margin-top: 100px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
}

.cabecera-contenido h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cabecera-contenido p {
    font-size: 1.5rem;
}
